# Install awscli:
```bash
$ pip install awscli

$ aws configure
AWS Access Key ID [None]: V42FCGRVMK24JJ8DHUYG
AWS Secret Access Key [None]: bKhWxVF3kQoLY9kFmt91l+tDrEoZjqnWXzY9Eza
Default region name [None]:
Default output format [None]:

$ cat ~/.aws/credentials
[default]
aws_access_key_id = V42FCGRVMK24JJ8DHUYG
aws_secret_access_key = bKhWxVF3kQoLY9kFmt91l+tDrEoZjqnWXzY9Eza
```

# How to use `boto3`
Sample as to how to initialize s3 client to work with Minio API compatible - https://github.com/minio/minio
AWS CLI counterpart - https://docs.minio.io/docs/aws-cli-with-minio

```python
import boto3

s3 = boto3.resource('s3', 
  endpoint_url='http://MINIO_HOST_NAME:9000', 
  config=boto3.session.Config(signature_version='s3v4')
)
```

# Refs.
1. https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.html

In [7]:
import boto3
import pandas as pd
from io import StringIO

s3 = boto3.resource('s3', 
  endpoint_url='http://minio:9000', 
  config=boto3.session.Config(signature_version='s3v4')
)

In [8]:
# Print out bucket names
for bucket in s3.buckets.all():
    print(bucket.name)

customer-data-json
customer-data-text
data
flink
iextrading
test
warehouse

In [9]:
bucket_name = 'test'
object_key = 'wordcount/output'

obj = s3.Object(bucket_name, object_key)
csv = obj.get()['Body'].read().decode('utf-8')

In [10]:
df = pd.read_csv(StringIO(csv), header=None, delimiter=' ')
df.columns = ['word', 'count']
df["count"] = pd.to_numeric(df["count"])
df.dtypes

sorted = df.sort_values(by=['count'], ascending=False)

sorted.head(10)

      word  count
26665  the  15086
18579   of   8262
1679   and   7278
876      a   6567
27049   to   5035
13814   in   4991
12688   he   4221
13053  his   3328
13565    i   2989
22898    s   2839